body {
    background-color: #edede9;
}

.navbar {
    background-color: #caf0f8;
}

.logo {
    cursor: pointer;
    transition: all(0.3s);
}

.logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: #134074;
}

.nav-link:hover {
    color: #fff;
}


.form-label {
    padding-top: 20px;
}

.btn {
    margin-top: 20px;
}

.piepagina {
    margin-top: 50px;
}

.iconos {
    margin-top: 20px;
}