body{
    background-color: white;
}

footer{
    background-color: aquamarine;
}
li:hover{
    color: aliceblue;
}
img{
    border-radius: 10px;
    border: solid 3px rgb(152, 209, 230);
}
.emblema{
    border-radius: 100px;
}
.images{
    margin-bottom: 12px;
}
.carrusel{
    border-radius: 50px;
}