body{
font-family: 'Courier New', Courier, monospace;
background-color: f2e3bc;
}


.conteiner{
    display: flex;
    margin: 10px;
    flex-flow: row wrap;
}
.carrusel{
    display: flex; 
    justify-content: center;
    
}


.noticias{
    display: flex;
    flex-basis: 400px;
    flex-flow: row wrap;
    flex-basis: 30%;
    
}

.noticia {
    display: flex; 
    font-size: medium;
    border: 2px black solid;
    border-radius: 10px;
justify-content: space-between;
}